body {
  font-family: Arial, sans-serif;
  background: #45484d;
  margin: 0;
  padding: 20px;
  color: #f2f3f4;
}

h1 {
  text-align: center;
  color: #f2f3f4;
}

#todoInput {
  padding: 10px;
  width: 250px;
  color: #f2f3f4;
  background-color: #3b3b3f;
  max-width: 100%;
  border: 1px solid #74717d;
  border-radius: 6px;

  box-sizing: border-box;
}
#todoInput::placeholder {
  color: #757575;
}

button {
  padding: 10px 15px;
  background: #0078d7;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;
}

button:hover {
  background: #005fa3;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

li {
  background: #3b3b3f;
  padding: 12px 15px;
  border-radius: 6px;
  margin-bottom: 8px;
  color: #f2f3f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

li span {
  font-weight: bold;
}

li .status {
  color: green;
}

li .status.incomplete {
  color: #4f3534;
}

li button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
  padding: 5px 10px;
  border-radius: 6px;
  transition: 0.2s;
}

li button:hover {
  background: #eee;
}
